# Reference: https://github.com/github/gitignore

# Build folder
build

# # Prebuilt third party libraries
# lib/*

# CMake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Windows folder config file
[Dd]esktop.ini

# Editor files
.vscode

# Keep folder
!.gitkeep
